.Statistics {
  height: 100%;
  padding: 5%;
}

.graph {
  width: 50%;
  height: 75%;
  position: absolute;
  right: 15%;
  top: 15%;
}
.titleMessage {
  padding: "10px";
}
.githubContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonContainer {
  left: 0;
  position: absolute;
}
