.Statistics {
  height: 100%;
  padding: 5%;
}

.graph {
  width: 33%;
  height: 55%;
  position: absolute;
  right: 15%;
  top: 15%;
}
.titleMessage {
  padding: "10px";
}
.githubContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testButtonsContainer {
  size: 5%;
  display: flex;
  flex-direction: row;
  position: absolute;
}
